# Sample environment variables for Hardhat deployment and scripts
SEPOLIA_RPC_URL=https://eth-sepolia.g.alchemy.com/v2/apikey 
ARBITRUM_RPC_URL=https://sepolia-rollup.arbitrum.io/rpc
AMOY_RPC_URL=https://rpc-amoy.polygon.technology
OPTIMISM_RPC_URL=https://sepolia.optimism.io
FUJI_RPC_URL=https://api.avax-test.network/ext/bc/C/rpc
BASE_RPC_URL=https://sepolia.base.org 
PRIVATE_KEY=your_private_key_here

ROUTER_ADDRESS=YOUR_ROUTER_ADDRESS
FUNCTIONS_ROUTER_ADDRESS=YOUR_FUNCTIONS_ROUTER_ADDRESS
DON_ID=YOUR_DON_ID
SUBSCRIPTION_ID=YOUR_SUBSCRIPTION_ID
MAIN_ROUTER_CHAIN_SELECTOR=YOUR_MAIN_ROUTER_CHAIN_SELECTOR
INITIAL_MINTER_ADDRESS=YOUR_INITIAL_MINTER_ADDRESS


/"ROUTER_ADDRESS: The address of a special contract on the testnet that helps your contracts talk to other blockchains using Chainlink's system (CCIP).
FUNCTIONS_ROUTER_ADDRESS: The address of another special contract that helps your MainRouter get information from outside the blockchain (like credit scores) using Chainlink.
DON_ID: An ID for a group of computers (oracles) that run the code to get that off-chain information for your MainRouter.
SUBSCRIPTION_ID: Your account ID with Chainlink that pays for those off-chain information requests.
MAIN_ROUTER_CHAIN_SELECTOR: A unique number that identifies the Avalanche Fuji testnet (where your MainRouter lives) for cross-chain communication.
INITIAL_MINTER_ADDRESS: The address allowed to create the first DSC tokens when the DSC contract is born."/

// https://dashboard.alchemy.com/ { for SEPOLIA_RPC_URL api key  }


// chainlink setup links 

/" CCIP (Router and Chain Selector): https://docs.chain.link/ccip/directory/testnet

Functions (Router and DON ID): Chainlink Functions Supported Networks

Subscription ID: https://functions.chain.link/

Testnet LINK: Chainlink Faucets

General Docs: Chainlink Documentation

"/
"Deployed contract address with respect to chain"
=== 🎉 Deployment Summary ===
Network: fuji
DeFiPassportNFT: 0xFfE1F8Cc3f2bc94570d6EfF200d6CFE9B48Db1AF
DSC: 0xa0B9eb9C427533bF330b0AA1F91C7d2Da2C3217a
MainRouter: 0xc702D371C39c457cFE8230d035fB3611044Fe01d
Minter: 0xBe6986796738D5E901AF145649Df92A9Bba3e2E9
Depositor: 0x5170Ef6BfEF4708D8c505a97500b4de4927E1159

=== Deployment Info ===
{
  "network": "fuji",
  "timestamp": "2025-06-21T11:50:40.446Z",
  "contracts": {
    "DeFiPassportNFT": "0xFfE1F8Cc3f2bc94570d6EfF200d6CFE9B48Db1AF",
    "DSC": "0xa0B9eb9C427533bF330b0AA1F91C7d2Da2C3217a",
    "MainRouter": "0xc702D371C39c457cFE8230d035fB3611044Fe01d",
    "Minter": "0xBe6986796738D5E901AF145649Df92A9Bba3e2E9",
    "Depositor": "0x5170Ef6BfEF4708D8c505a97500b4de4927E1159"
  },
  "environment": {
    "routerAddress": "0xF694E193200268f9a4868e4Aa017A0118C9a8177",
    "functionsRouterAddress": "0xA9d587a00A31A52Ed70D6026794a8FC5E2F5dCb0",
    "donId": "fun-avalanche-fuji-1",
    "subscriptionId": "15620",
    "mainRouterChainSelector": "14767482510784806043"
  }
}

------
=== 🎉 Deployment Summary ===
Network: sepolia
DeFiPassportNFT: 0xf0b3c9c44a3bfB3a2381F1A59E07472dD13Aea38
DSC: 0x0c03Caa2227E2d3CCA1a82f4544b79A5527065a1
Minter: 0x20E03ae3438f9902d88226E4742a8b5774BE2925
Depositor: 0x7842D25216Ec9D0606829F2b0b995b5505e7aFDA

=== Deployment Info ===
{
  "network": "sepolia",
  "timestamp": "2025-06-22T17:31:25.064Z",
  "contracts": {
    "DeFiPassportNFT": "0xf0b3c9c44a3bfB3a2381F1A59E07472dD13Aea38",
    "DSC": "0x0c03Caa2227E2d3CCA1a82f4544b79A5527065a1",
    "Minter": "0x20E03ae3438f9902d88226E4742a8b5774BE2925",
    "Depositor": "0x7842D25216Ec9D0606829F2b0b995b5505e7aFDA"
  },
  "environment": {
    "routerAddress": "0x0BF3dE8c5D3e8A2B34D2BEeB17ABfCeBaf363A59",
    "functionsRouterAddress": "0xb83E47C2bC239B3bf370bc41e1459A34b41238D0",
    "donId": "fun-ethereum-sepolia-1",
    "subscriptionId": "5086",
    "mainRouterChainSelector": "16015286601757825753",
    "mainRouterAddress": "0xc702D371C39c457cFE8230d035fB3611044Fe01d"
  }
}



---------------
=== 🎉 Deployment Summary ===
Network: amoy
Minter: 0x94d703B9f93a443D978DC3fA5018A54B95912e2B
Depositor: 0x328a3Abc8D777586600862E22Fd1D1bd67cC6a85

=== Deployment Info ===
{
  "network": "amoy",
  "timestamp": "2025-06-22T15:32:10.196Z",
  "contracts": {
    "Minter": "0x94d703B9f93a443D978DC3fA5018A54B95912e2B",
    "Depositor": "0x328a3Abc8D777586600862E22Fd1D1bd67cC6a85"
    "DeFiPassportNFT": " 0xedC7e7A636965B3ac1994b1AE34666a13A3790da",
    "DSC": "0x096abaD4386C021E956b1515b7e12F9Fc7826737",
  },
  "environment": {
    "routerAddress": "0x9C32fCB86BF0f4a1A8921a9Fe46de3198bb884B2",
    "functionsRouterAddress": "0xC22a79eBA640940ABB6dF0f7982cc119578E11De",
    "donId": "fun-polygon-amoy-1",
    "subscriptionId": "454",
    "mainRouterChainSelector": "16281711391670634445",
    "mainRouterAddress": "0xc702D371C39c457cFE8230d035fB3611044Fe01d"
  }
}

//arbitrum
ARBITRUM_ROUTER_ADDRESS=0xC308ef8a02e39887CCF55a796a128CBD1F2072a1        
ARBITRUM_FUNCTIONS_ROUTER_ADDRESS=0xA9d587a00A31A52Ed70D6026794a8FC5E2F5dCb0
ARBITRUM_DON_ID=fun-arbitrum-1
ARBITRUM_SUBSCRIPTION_ID=15620
ARBITRUM_MAIN_ROUTER_CHAIN_SELECTOR=16235373811196386733
ARBITRUM_INITIAL_MINTER_ADDRESS=0x1c07B640EF2d340C0a1f95595ce898E56a9593bF
//optimism
OPTIMISM_ROUTER_ADDRESS=0xF694E193200268f9a4868e4Aa017A0118C9a8177
OPTIMISM_FUNCTIONS_ROUTER_ADDRESS=0xA9d587a00A31A52Ed70D6026794a8FC5E2F5dCb0
OPTIMISM_DON_ID=fun-optimism-1
OPTIMISM_SUBSCRIPTION_ID=15620
OPTIMISM_MAIN_ROUTER_CHAIN_SELECTOR=14767482510784806043
OPTIMISM_INITIAL_MINTER_ADDRESS=0x1c07B640EF2d340C0a1f95595ce898E56a9593bF